header {
    color: $white;
    // background-color: $component-bg;
    text-align: center;
    padding: $p-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

    nav {
        background-color: $component-bg;
        position: fixed;
        top: $space-md;
        width: 85%;
        border-radius: $space-xs;
        transition: 0.5s ease-in-out;
        
        
        ul {
            list-style: none;
            width: inherit;

            li {

                a {
                    text-decoration: none;
                    color: inherit;
                    display: block;
                    margin: $my-2;

                    &:hover {
                        border: 2px solid $btn-bg-primary-highlight;
                        background-color: transparent;
                        border-radius: 50px;
                        padding: $space-xs;
                    }
                }
            }
        }

        hr {
            margin: $mx-2;
            opacity: 0.3;
        }

        .register {
            width: 100%;

            ul {
                width: 85%;
                
                li {
                    a {
                        text-decoration: none;
                        color: inherit;
                    }

                    &:nth-child(2) {

                        a {
                            background-color: $btn-bg-primary;
                            border-radius: 50px;
                            padding: $space-xs;

                            &:hover {
                                border: 2px solid $btn-bg-primary-highlight;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    .closed {
        top: -20rem;
    }

    .hamburgerMenu {

        button {
            border: none;
            background-color: inherit;
            color: $paragraph-color;
            cursor: pointer;

            svg {
                transform: scale(2);
            }


        }
    }
}