section {
    text-align: center;
    padding-bottom: 9rem;
    
    div {
        &:nth-child(1) {
            img {
                width: 100%;
            }
        }
        &:nth-child(2) {
            h1 {
                font-size: $main-heading-font-size;
                color: $main-color;
                margin-top: $space-sm;
            }
            p {
                line-height: 1.8em;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
            }

            a {
                
                background-color: $btn-bg-primary;
                border-radius: 50px;
                padding: 10px 30px;
                color: $white;
                margin-bottom: 2rem;

                &:hover {
                    border: 2px solid $btn-bg-primary-highlight;
                    background-color: transparent;
                    color: inherit;
                }
            }
        }
    }
}