.shorten {
  margin-top: -6.6rem;
  text-align: center;
  background: $gray-bg;
  position: relative;
  z-index: -1;

  @include desktop {
    margin-top: -5rem;
  }

  .link-result {
    width: 100%;
    margin: auto;
    padding: 1rem;
    margin-top: 1.5rem;
    align-items: center;
    text-align: left;
    @include desktop {
      max-width: 1000px;
      width: 100%;
      padding: unset;
    }

    &:first-child {
      padding-top: 6rem;
      @include desktop {
        padding-top: 5rem;
      }
    }

    .alert {
      background-color: $white;
      color: rgb(230, 122, 122);
      padding: 1rem;
    }

    .result {
      @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
      }
      display: flex;
      flex-direction: column;
      background-color: $white;
      padding: 1rem;
      border-radius: 10px;

      .original-link {
        color: $main-color;
      }

      .line {
        @include desktop {
          display: none;
        }
        margin: 0.7rem 0;
      }

      .shortened-link {
        display: flex;
        align-items: center;
        color: $btn-bg-primary;
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }
        .result-link {
          width: 100%;
          padding: 1rem 0;
        }

        .copy-result {
          width: 100%;
          padding: 0.5rem 0;
        }
        .copy-btn {
          background-color: $btn-bg-primary;
          color: $white;
          border: none;
          padding: 1rem 2rem;
          border-radius: 7px;
          width: 100%;
          cursor: pointer;
          @include desktop {
            margin: 0 1rem;
            width: unset;
            padding: 0.5rem 2rem;
          }

          &:hover {
            background-color: $btn-bg-primary-highlight;
          }

          &:focus {
            background-color: $component-bg;
          }
        }
      }
    }
  }

  .statistics {
    padding-top: 7rem;
    @include desktop {
      max-width: 550px;
      margin: auto;
    }

    h2 {
      font-size: $sub-heading-font-size;
      color: $main-color;
      padding: 1rem;
    }
    p {
      padding: 1rem;
    }
  }

  .feature-section {
    padding: 1rem;
    @include desktop {
      display: flex;
      justify-content: center;
      padding: 1rem 3rem;
    }

    .horizontal-line {
      background-color: $btn-bg-primary-highlight;
      border: none;
      height: 6px;
      width: 8rem;
      position: relative;
      z-index: -3;
      margin: 0 auto;
      transform: rotate(90deg);
      @include desktop {
        height: 10rem;
        width: 6px;
        background-color: $btn-bg-primary-highlight;
        border: none;
        transform: rotate(90deg);
        margin: auto 0;
      }
    }

    .feature-wrapper {
      padding-bottom: 2rem;
      @include desktop {
        margin-left: auto;
        margin-right: auto;
      }

      .image-icon {
        border-radius: 50%;
        width: 85px;
        height: 85px;
        margin: auto;
        background-color: $component-bg;
        justify-content: center;
        @include desktop {
          justify-content: start;
          margin: auto 1.5rem;
        }

        img {
          width: 50px;
          height: 50px;
          margin: auto;
          margin-top: 15px;
        }
      }

      .features {
        background-color: $white;
        margin-top: -2.5rem;
        position: relative;
        padding-top: 5rem;
        z-index: -1;
        @include desktop {
          max-width: 350px;
          height: fit-content;
          text-align: left;
        }

        h3 {
          font-size: $sub-heading-3;
          color: $main-color;
          padding: 0.5rem;
          @include desktop {
            padding: 0 1rem;
          }
        }
        p {
          padding: 1.5rem;
          @include desktop {
            padding: 1rem;
          }
        }
      }
    }
  }
  .mag-top {
    @include desktop {
      margin-top: 2rem;
    }
  }

  .mag-top2 {
    @include desktop {
      margin-top: 5rem;
    }
  }

  .boost {
    margin-top: 4rem;
    padding: 4rem 1rem;
    background-image: url(../Assets/images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $component-bg;
    @include desktop {
      background-image: url(../Assets/images/bg-boost-desktop.svg);
    }

    h3 {
      color: $white;
      font-size: $sub-heading-font-size;
      padding: 1rem 0 1.5rem 0;
    }
    a {
      background-color: $btn-bg-primary;
      border-radius: 50px;
      padding: 10px 30px;
      color: $white;
      margin-bottom: 2rem;

      &:hover {
        border: 2px solid $btn-bg-primary-highlight;
        background-color: transparent;
        color: inherit;
      }
    }
  }
}
