.loader {
  border: 10px solid $gray-bg;
  border-top: 10px solid $btn-bg-primary;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  animation: spin 1s linear infinite;
  margin: auto;
}

 @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 