// Padding
$px-2: auto 1.5rem;
$py-2: 1.5rem auto;
$p-2: 1.5rem;
$padding-sm: 7px auto;

// Margin 
$mx-2: auto 1.5rem;
$my-2: 1.5rem auto;
$m-auto: auto;
$mx-auto: 0 auto;
$my-auto: auto 0;

// Spacing
$space-md: 5.2rem;
$space-xs: 10px

// border
