// Typography

$base-font-size: 18px;

// Colors

// Primary
$btn-bg-primary: hsl(180, 66%, 49%);
$btn-bg-primary-highlight: #77e7e7;
$component-bg: hsl(257, 27%, 26%);
$white: white;

// Secondary
$red: hsl(0, 87%, 67%);

// Neutral
$gray-bg: hsl(0, 0%, 75%);
$paragraph-color: hsl(257, 7%, 63%);
$main-color: hsl(260, 8%, 14%);
$very-dark-blue: hsl(255, 11%, 22%);
