// Typography

$base-font-size: 18px;
$main-heading-font-size: $base-font-size * 2;
$sub-heading-font-size: $base-font-size * 1.5;
$sub-heading-3: $base-font-size * 1.3;
$small-base: $base-font-size * 0.8;

// Colors

// Primary
$btn-bg-primary: hsl(180, 66%, 49%);
$btn-bg-primary-highlight: #77e7e7;
$component-bg: hsl(257, 27%, 26%);
$white: white;

// Secondary
$red: hsl(0, 87%, 67%);

// Neutral
$gray-bg: hsl(0, 12%, 93%);
$paragraph-color: hsl(257, 7%, 63%);
$main-color: hsl(260, 8%, 14%);
$very-dark-blue: hsl(255, 11%, 22%);
